:root {
    --primary: #FFF4E7;
    --btn_color: #FF900E;
    --silver: #727272;
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.3rem;
}

h1 {
    font-size: 3rem;
}

/* .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
}

.row{
    display: flex;
    gap: 50px;
}

.col{
    width: 100%;
} */

.nav {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
}

.nav-options {
    list-style-type: none;
}

.nav p {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.nav_list {
    margin: .5em 1em;
}

.nav_list a {
    text-decoration: none;
    color: black;
}

.banner {
    background-color: var(--primary);
    text-align: center;
    padding: 1em 1em;
}

.banner_title {
    margin: 0;
}

.banner_img {
    max-width: 1400px;
    width: 100%;
}

.btn-color {
    background-color: var(--btn_color);
}

.btn-color:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 144, 14, 0.5), 0 6px 20px 0 rgba(255, 144, 14, 0.3);
}

.btn {
    font-size: 1.4rem;
    padding: 1.4em 1.4em;
    border: none;
    color: white;
    border-radius: .5em;
}

.banner_text {
    color: var(--silver);
}

.banner_btn {
    margin-bottom: 1em;
}

.features {
    text-align: center;
}

.features_img {
    margin: 1.5em;
}

.features_img img {
    width: 100%;
}

.feature_info {
    margin: 0 2em;

}

.features_title {
    text-align: start;
    width: 20ch;
}

.feature_text {
    color: var(--silver);
}

.offering {
    text-align: center;
    margin: 1em;
}

.offering_title {
    text-align: start;
    border-left: 5px solid var(--btn_color);
    width: 20ch;
    padding-left: 1em;
}

.offering_text {
    color: var(--silver);
}

.offering_item {
    padding: 1em;
    margin: 1em;
    /* border: 1px solid gray; */
    border-radius: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.offering_item p {
    color: var(--silver);
}

.offering_btn {
    color: white;
    border: none;
    font-size: 1.6rem;
    padding: 1em 2.6em;
    margin-top: 1em;
    border-radius: 1em;
    transition: transform 500ms;
}

.offering_btn:hover {
    transform: translateY(-20px) scale(1.1, 1.1);
}

.offering_btn h2,
.offering_btn p {
    margin: 0;
}

.facts {
    text-align: center;
    padding: 1.5em;
}

.fact_text {
    color: var(--silver);
}

.fact_container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.fact_item {
    border-radius: 1em;
    max-width: 300px;
    font-size: 1.8rem;
    padding: 1em;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(255, 144, 14, 0.5), 0 6px 20px 0 rgba(255, 144, 14, 0.3);
    transition: transform 500ms, background-color 1s;
}

.fact_item:hover {
    transform: scale(1.1, 1.1);
    background-color: rgba(255, 144, 14, 0.11);
}

.fact_item-name {
    color: var(--silver);
}

.sponsors {
    text-align: center;
}

.sponsor_img {
    margin: 2em;
}

.contact {
    text-align: center;
    background-color: var(--primary);
    padding: 1em;
}

.contact_form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    padding-bottom: 1em;
}

.contact_form label {
    text-align: start;
    margin: .5em 0;
}

.contact_form input, .contact_form textarea{
    box-shadow: 0 4px 8px 0 rgba(255, 144, 14, 0.5) inset, 0 6px 20px 0 rgba(255, 144, 14, 0.3) inset;
    border: none;
    border-radius: .5em;
    padding: 1em;
}

.contact_btn {
    margin: 1.5em 0;
}

.footer {
    text-align: center;
    background-color: var(--primary);
    padding: 2em 2em;
}






@media (min-width: 768px) {}